# Introduction

This demo file is intended to serve as a "starter file"
for IEEE conference papers produced under \LaTeX\ using
IEEEtran.cls version 1.8b and later. I wish you the best of success.

For more info:
[IEEEtran_HOWTO.pdf](http://mirrors.ctan.org/macros/latex/contrib/IEEEtran/IEEEtran_HOWTO.pdf)

\hfill mds

\hfill August 26, 2015

## Subsection Heading Here

Subsection text here.

### Subsubsection Heading Here

Subsubsection text here.

# How to reference

The references are specified in the `IEEEexample.bib` file, file that is specified in the `ieee_*.tplx` template.


A typical journal article entry \cite{IEEEexample:article_typical}.

```
    @article{IEEEexample:article_typical,
      author        = "S. Zhang and C. Zhu and J. K. O. Sin and P. K. T. Mok",
      title         = "A Novel Ultrathin Elevated Channel Low-temperature 
                       Poly-{Si} {TFT}",
      journal       = IEEE_J_EDL,
      volume        = "20",
      month         = nov,
      year          = "1999",
      pages         = "569-571"
    }
```

A typical paper in a conference proceedings entry \cite{IEEEexample:conf_typical}.
```
    @inproceedings{IEEEexample:conf_typical,
      author        = "R. K. Gupta and S. D. Senturia",
      title         = "Pull-in Time Dynamics as a Measure of Absolute Pressure",
      booktitle     = "Proc. {IEEE} International Workshop on
                       Microelectromechanical Systems ({MEMS}'97)",
      address       = "Nagoya, Japan",
      month         = jan,
      year          = "1997",
      pages         = "290-294"
    }
```


A typical book entry \cite{IEEEexample:book_typical}.                                               
```
    @book{IEEEexample:book_typical,
      author        = "B. D. Cullity",
      title         = "Introduction to Magnetic Materials",
      publisher     = "Addison-Wesley",
      address       = "Reading, MA",
      year          = "1972"
    }
```

For more info:
[IEEEtran_bst_HOWTO.pdf](http://mirrors.ctan.org/macros/latex/contrib/IEEEtran/bibtex/IEEEtran_bst_HOWTO.pdf)

# An Informal Introduction to Python

In [1]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

## Numbers

In [2]:
2 + 2

4

In [3]:
50 - 5*6

20

In [4]:
(50 - 5*6) / 4

5.0

In [5]:
8 / 5  # division always returns a floating point number

1.6

In [6]:
17 / 3  # classic division returns a float

5.666666666666667

In [7]:
17 // 3  # floor division discards the fractional part

5

In [8]:
17 % 3  # the % operator returns the remainder of the division

2

In [9]:
5 * 3 + 2  # result * divisor + remainder

17

In [10]:
5 ** 2  # 5 squared

25

In [11]:
2 ** 7  # 2 to the power of 7

128

In [12]:
width = 20
height = 5 * 9
width * height

900

## Strings

In [13]:
'spam eggs'  # single quotes

'spam eggs'

In [14]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [15]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [16]:
'"Yes," they said.'

'"Yes," they said.'

In [17]:
"\"Yes,\" they said."

'"Yes," they said.'

In [18]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [19]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [20]:
s = 'First line.\nSecond line.'  # \n means newline

In [21]:
print(s)  # with print(), \n produces a new line

First line.
Second line.

In [22]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [23]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [24]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [25]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [26]:
'Py' 'thon'

'Python'

In [27]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [28]:
prefix = 'Py'

In [29]:
prefix + 'thon'

'Python'

In [30]:
word = 'Python'

In [31]:
word[0]  # character in position 0

'P'

In [32]:
word[5]  # character in position 5

'n'

In [33]:
word[-1]  # last character

'n'

In [34]:
word[-2]  # second-last character

'o'

In [35]:
word[-6]

'P'

In [36]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [37]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [38]:
word[:2] + word[2:]

'Python'

In [39]:
word[:4] + word[4:]

'Python'

In [40]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [41]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [42]:
word[-2:]  # characters from the second-last (included) to the end

'on'

In [43]:
'J' + word[1:]

'Jython'

In [44]:
word[:2] + 'py'

'Pypy'

In [45]:
s = 'supercalifragilisticexpialidocious'

In [46]:
len(s)

34

## Lists

In [47]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [48]:
squares[0] # indexing returns the item

1

In [49]:
squares[-1]

25

In [50]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [51]:
squares[:]

[1, 4, 9, 16, 25]

In [52]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [53]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here

In [54]:
4 ** 3  # the cube of 4 is 64, not 65!

64

In [55]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [56]:
cubes.append(216)  # add the cube of 6

In [57]:
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [58]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [59]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [60]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [61]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [62]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [63]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [64]:
x[0]

['a', 'b', 'c']

In [65]:
x[0][1]

'b'

# First Steps Towards Programming

In [66]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [67]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [68]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

[The Python Tutorial](https://docs.python.org/3/tutorial/introduction.html)

# Conclusion

The conclusion goes here.

\section*{Acknowledgment}

The authors would like to thank...